@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import "../bower_components/angular-ui-select/dist/select";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-base: #383838 !default;
$white: #fff !default;
$font-family-sans-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Proxima Nova", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.otd");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.otf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.otf");
    font-weight: 500;
    font-style: normal;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
#map img {
    opacity: 1;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
.btn,
[ui-sref],
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.row-flex {
    @include display(flex);
}
.col-33{
  width: 33.33%;
  float: left;
}
.col-flex {
    @include flex(1);
    // flex: 0 0 20%;
    // max-width: 20%;
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.color-primary {
    color: $brand-primary;
}
.color-base {
    color: $brand-base;
}
.color-white {
    color: $white;
}
.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.hp-list {
    ul {
        list-style: none;
        display: block;
        li {
            display: inline-block;
        }
    }
}
.display-inline {
    display: inline-block;
}
.hp-relative {
    position: relative;
}
.hp-absulate {
    position: absolute;
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.margin-auto {
    margin: 0 auto;
}
.main-head-top {
    .navbar-default {
        background-color: rgba(248, 248, 248, 0);
        border-color: rgba(231, 231, 231, 0);
    }
    .navbar {
        margin-bottom: 0;
        padding: 15px 15px 0;
    }
}
.hp-mid-banner {
    margin: 100px 0px;
}
.width100{
  width: 100%;
}
.hp-logo {
    img {
        width: 300px;
    }
}
.hp-data-pad{
  padding: 30px 0px;
}
.pb50{
  padding-bottom: 50px;
}
.btn-blue{
  @include button-variant($brand-primary, transparent, $brand-primary);
  &:hover{
    outline: 0;
  }
  &:focus{
    outline: 0;
  }
}
.btn-padding{
      padding: 8px 10px 5px 10px;
}
.head-menu {
    margin-top: 22px;
}
.menu {
    .navbar-nav {
        float: right;
        margin: 0;
        li {
            a {
                color: $white;
                padding: 10px 20px;
                &:hover {
                    color: $brand-primary;
                }
                &:focus {
                    color: $white;
                }
            }
        }
    }
}
.hp-banner {
    .flexslider {
        margin: 0;
        border: 0 solid #fff;
        .flex-direction-nav {
            display: none;
        }
        .flex-control-nav {
            bottom: 22px;
            z-index: 99;
        }
    }
}
.hp-h-footer {
    background-color: #0e8be1;
}
.hp-up-footer {
    span {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        display: block;
    }
    ul {
        list-style: none;
        li {
            line-height: 150%;
            a {
                color: $white;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}
.font-bold {
    font-weight: 700;
}
.font-light {
    font-weight: 300;
}
.font-semi {
    font-weight: 500;
}
.hp-ft-lists {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
}
.br-right {
    border-right: 1px solid $brand-primary;
    min-height: 200px;
}
.hp-up-footer {
    padding: 45px 0 15px;
}
.hp-l-footer {
    padding: 15px 0 5px;
    background-color: $brand-primary;
}
.hp-overlayer-name {
    background-color: rgba(0, 0, 0, 0.22);
    height: 100%;
    width: 100%;
    top: 0;
    h3 {
        opacity: 0.5;
        font-size: 36px;
    line-height: 110%;
    padding-top: 24px;
    }
}
.hp-img-box{
  cursor: pointer;
  &:hover{
    .hp-overlayer-bg{
      opacity: 1;
          @include transition(all 300ms ease);
    }
  }
}
.hp-overlayer-bg{
  opacity: 0;
      @include transition(all 300ms ease);
  top:0;
  img{
        opacity: 0.8;
  }
  h3{
    font-size: 36px;
line-height: 110%;
padding-top: 24px;
  }
}
.hp-mid {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.hp-mg-min{
  margin-top: -115px;
z-index: 999;
position: relative;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
