@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import "../bower_components/angular-ui-select/dist/select";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-base: #383838 !default;
$white: #fff !default;
$font-family-sans-serif: "Proxima Nova",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Proxima Nova",
Georgia,"Times New Roman",
Times,
serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.otd");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.otf");
    font-weight: 500;
    font-style: normal;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}


/* mixing*/

@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

.btn,
[ui-sref],
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}

//bootstrap forms
.btn,
.form-control,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}

.row-flex {
    @include display(flex);
}

.col-33 {
    width: 33.33%;
    float: left;
}

.col-flex {
    @include flex(1);
    // flex: 0 0 20%;
    // max-width: 20%;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.color-primary {
    color: $brand-primary;
}

.color-base {
    color: $brand-base;
}

.color-white {
    color: $white;
}

.margin0 {
    margin: 0;
}

.padding0 {
    padding: 0;
}

.hp-list {
    ul {
        list-style: none;
        display: block;
        li {
            display: inline-block;
        }
    }
}

.display-inline {
    display: inline-block;
}

.hp-relative {
    position: relative;
}

.hp-absulate {
    position: absolute;
}

.text-up {
    text-transform: uppercase;
}

.text-cap {
    text-transform: capitalize;
}

.margin-auto {
    margin: 0 auto;
}

.main-head-top {
    .navbar-default {
        background-color: rgba(248, 248, 248, 0);
        border-color: rgba(231, 231, 231, 0);
    }
    .navbar {
        margin-bottom: 0;
        padding: 15px 15px 0;
    }
}

.main-head-top2 {
    .navbar-default {
        background-color: $white;
        border-color: rgba(231, 231, 231, 0);
    }
    .navbar {
        min-height: 80px;
        margin-bottom: 0;
        padding: 15px;
        box-shadow: 0 13px 22px -10px #b0b0b0;
    }
}

.hp-mid-banner {
    margin: 100px 0;
}

.width100 {
    width: 100%;
}

.hp-logo {
    img {
        width: 300px;
    }
}

.hp-logo2 {
    img {
        width: 240px;
    }
}

.hp-data-pad {
    padding: 30px 0;
}

.hp-top-banner {
    // padding-left: 100px;
}

.pb50 {
    padding-bottom: 50px;
}

.btn-blue {
    @include button-variant($brand-primary,
    transparent,
    $brand-primary);
    border: 1px solid #0d9dff;
    &:hover {
        outline: 0;
    }
    &:focus {
        outline: 0;
        border-color: #0d9dff;
    }
    &:active {
        &:focus {
            outline: 0;
            border-color: #0d9dff;
        }
    }
}

.btn-padding {
    padding: 8px 10px 5px;
}

.head-menu {
    margin-top: 22px;
}

.head-menu2 {
    margin-top: 8px;
}

.menu {
    .navbar-nav {
        float: right;
        margin: 0;
        li {
            a {
                color: $white;
                padding: 10px 20px;
                &:hover {
                    color: $brand-primary;
                }
                &:focus {
                    color: $white;
                }
            }
        }
    }
}

.menus {
    .navbar-nav {
        float: right !important;
        margin: 0;
        li {
            a {
                color: $brand-base;
                padding: 10px 20px;
                &:hover {
                    color: $brand-primary;
                }
                &:focus {
                    color: $brand-base;
                }
            }
        }
    }
}

.hp-banner {
    .flexslider {
        overflow: hidden;
        margin: 0;
        border: 0 solid #fff;
        .flex-direction-nav {
            display: none;
            a {
                transform: translateY(-50%);
            }
        }
        .flex-control-nav {
            bottom: 22px;
            z-index: 99;
        }
        .slides img {
            // width: auto;
        }
    }
}

.hp-h-footer {
    background-color: #0e8be1;
}

.hp-up-footer {
    span {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        display: block;
    }
    ul {
        list-style: none;
        li {
            line-height: 150%;
            a {
                color: $white;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.font-semi {
    font-weight: 500;
}

.hp-ft-lists {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
}

.br-right {
    border-right: 1px solid $brand-primary;
    min-height: 200px;
}

.hp-up-footer {
    padding: 45px 0 15px;
}

.hp-l-footer {
    padding: 15px 0 5px;
    background-color: $brand-primary;
}

.hp-overlayer-name {
    background-color: rgba(0, 0, 0, 0.46);
    height: 100%;
    width: 100%;
    top: 0;
    h3 {
        opacity: 0.5;
        font-size: 36px;
        line-height: 110%;
        padding-top: 24px;
    }
}

.hp-img-box {
    cursor: pointer;
    &:hover {
        .hp-overlayer-bg {
            opacity: 1;
            @include transition(all 300ms ease);
        }
    }
}

.hp-overlayer-bg {
    opacity: 0;
    @include transition(all 300ms ease);
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(14, 139, 225, 0.63);
    h3 {
        font-size: 36px;
        line-height: 110%;
        padding-top: 24px;
    }
}

.hp-mid {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,
    -50%));
}

.hp-mg-min {
    margin-top: -115px;
    z-index: 999;
    position: relative;
}

.bg-grediant {
    // background: linear-gradient(to right, #ffffff 20%,#0e8ae0 0%,#0e8ae0 100%);
    @include background(linear-gradient(to right,
    #ffffff 22%,
    #0e8ae0 0%,
    #0e8ae0 100%));
    margin-top: 135px;
}

.pd45 {
    padding: 45px 0;
}

.hp-cl-title {
    padding: 30px 0;
}

.hp-pr-decs {
    p {
        color: $brand-base;
        line-height: 150%;
        font-weight: 400;
        font-size: 15px;
    }
}

.hp-get-sec {
    background: url(../img/hp-sli-bg.jpg)no-repeat;
    background-size: cover;
    // &:hover {
    //     opacity: 0;
    //     transition: all 300ms ease;
    //     top: 0;
    //     height: 100%;
    //     width: 100%;
    //     background: rgba(0, 0, 0, 0.63);
    // }
}

.hp-gt {
    .flexslider {
        margin: 0;
        background: rgba(255, 255, 255, 0);
        border: 0 solid #fff;
    }
}

.if-no-slider {
    ul {
        li {
            padding: 0 25px;
        }
    }
}

.hp-cn {
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        line-height: 125%;
        font-size: 18px;
    }
}

.hp-dn-icon {
    display: initial;
    img {
        width: 50px;
        vertical-align: bottom;
    }
}

.p20 {
    padding: 20px 0;
}

.hp-dn-txt {
    background: $brand-primary;
    padding: 7px 3px;
    border-radius: 8px;
    width: 60%;
}

.pt20 {
    padding-top: 20px;
}

.hp-eng-box {
    position: relative;
    height: 330px;
    overflow: hidden;
    display: block;
}

.overl-lay-blue {
    background-color: rgba(14, 139, 225, 0.77);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.pad-cl {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}

.pad60 {
    padding: 60px 0;
}

.hp-acc {
    .panel {
        border: 0 solid transparent;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
    }
    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 0;
    }
    .panel-heading {
        padding: 15px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        color: #8e8e8e;
        background-color: #ebebeb;
    }
    .panel-title {
        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
        a,
        span {
            text-decoration: none;
            &:focus {
                outline: 0;
            }
            &:active {
                outline: 0;
            }
        }
    }
}

.hp-tab-btn {
    button {
        padding: 10px 20px 5px;
        font-size: 20px;
        margin: 0 5px;
    }
}

.active-tab {
    background-color: $brand-primary !important;
    color: $white !important;
}

.hp-tab-btn {
    padding: 20px 0 30px;
}

.hp-tbl-en {
    .table {
        tbody,
        thead {
            tr {
                th {
                    text-align: center;
                    border-right: 1px solid $brand-primary;
                    border-bottom: 1px solid $brand-primary;
                }
                td {
                    text-align: center;
                    border-right: 1px solid $brand-primary;
                    border-top: 0 solid #ddd;
                    width: 112px;
                }
            }
        }
    }
}

.hp-table-dif {
    @extend .hp-tbl-en;
    td,
    th {
        text-align: center;
        border-right: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-right: 0 solid #ddd !important;
        }
    }
    thead {
        tr {
            th {
                text-align: center;
                border-bottom: 1px solid #000000 !important;
            }
        }
    }
    .main-hp {
        tr {
            &:last-child {
                td {
                    border-bottom: 0 solid #ddd !important;
                }
            }
        }
        tr {
            &:last-child {
                border-bottom: 0 solid #ddd !important;
            }
        }
    }
}

.cs-table {
    padding: 0 !important;
    border-right: 0 !important;
}

.mt60 {
    margin-top: 60px;
}

.b-all {
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    border-left: 1px solid $brand-primary;
}

.pb60 {
    padding-bottom: 60px;
}

.mt20 {
    margin-top: 20px;
}

.hp-span {
    display: block;
    padding-top: 20px;
}

.wauto {
    td {
        min-width: 113px !important;
    }
}

.pl12 {
    padding-left: 12px;
}

.formulae {
    list-style: none;
    padding: 0;
    li {
        line-height: 86%;
    }
    hr {
        margin-top: 8px;
        margin-bottom: 6px;
        border: 0;
        border-top: 1px solid #000000;
        width: 70%;
    }
}

.br-all {
    border: 1px solid #000;
}

.min-h400 {
    min-height: 400px;
}

.hp-shape {
    margin: 50px auto;
    text-align: center;
    img {
        text-align: center;
        margin: 0 auto;
    }
}

.hp-dimesion-tbl {
    .table {
        text-align: center;
        border: 1px solid $brand-primary;
        thead {
            tr {
                th {
                    text-align: center;
                    border-bottom: 1px solid $brand-primary;
                    border-right: 1px solid $brand-primary;
                    font-size: 18px;
                    font-weight: 700;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom: 1px solid $brand-primary;
                    border-right: 1px solid $brand-primary;
                    font-size: 18px;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }
}

.hp-cs-tbl {
    @extend .hp-dimesion-tbl;
    thead {
        tr {
            th {
                font-size: 14px !important;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px !important;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.min-w70 {
    tr {
        td {
            min-width: 70px !important;
        }
    }
}

.hp-rnd-slider {
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/next.png") no-repeat center;
        width: 45px;
        height: 80px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/prev.png") no-repeat center;
        width: 45px;
        height: 80px;
    }
    .flex-direction-nav a {
        width: 45px;
        height: 80px;
        opacity: 1;
        transform: translateY(-50%);
    }
    .flex-direction-nav .flex-prev {
        left: -40px;
    }
    .flex-direction-nav .flex-next {
        right: -40px;
        text-align: right;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -40px;
        outline: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -40px;
        outline: 0;
    }
}

.year-slider {
    li {
        a {
            color: #8e8e8e;
            font-size: 26px;
            font-weight: 700;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
        }
    }
}

.mb15 {
    margin-bottom: 30px;
}

.hp-sl {
    padding-top: 10px;
    h3 {
        font-size: 20px;
    }
}

.hp-sl-rec {
    .btn {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 2.42857;
        .caret {
            margin-left: 0;
            display: none;
        }
        &:active {
            &:focus {
                background-color: hsla(0, 0%, 90%, 0);
                border-color: $brand-primary;
                outline: 0;
            }
        }
        &:focus {
            outline: 0;
        }
    }
    .form-control {
        height: 42px !important;
        background-color: hsla(0, 0%, 90%, 0);
        border-color: $brand-primary;
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    .ui-select-match {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    .ui-select-match-text {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    span {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    .ui-select-container {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    .span.btn.btn-default.form-control.ui-select-toggle {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    .btn-default-focus {
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .search-drop.ui-select-container.ui-select-bootstrap.dropdown {
        outline: 0;
        &:focus {
            outline: 0;
        }
    }
    &:focus {
        outline: 0;
    }
}

.hp-mm {
    top: 0;
    right: 0;
    img {
        width: 42px;
    }
}

.hp-tab-btn {
    .btn-group {
        position: relative;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

.pt15-per {
    padding-top: 15%;
}

.hp-d-box {
    border: 1px solid #ddd;
    padding: 20px 0;
    position: relative;
    span {
        display: block;
        background: #7f7f7f;
        color: $white;
        position: absolute;
        text-align: center;
        left: 50%;
        border-radius: 50%;
        font-size: 26px;
        height: 45px;
        width: 45px;
        line-height: 184%;
        // transform: translateX(-50%);
        @include transform(translatex(-50%));
    }
}

.ml15 {
    margin-left: 15px;
}

.get-form {
    .form-control {
        border: 1px solid $brand-primary;
    }
    input {
        @include placeholder {
            color: black;
        }
    }
}

.hp-br {
    input {
        filter: alpha(opacity=0);
    }
}

.hp-cl {
    background-color: red;
    height: 10px;
    width: 10px;
    color: red;
    display: inline-block;
    margin-right: 8px;
}

.mt50 {
    margin-top: 50px;
}

.hp-cl-list {
    background: #cfe8f9;
    padding: 18px 0 2px;
    ul {
        text-align: center;
        li {
            padding: 0 30px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.sp-pd {
    padding-top: 14px;
    display: block;
    font-size: 16px;
}

.blu-tbl {
    table {
        border: 1px solid $brand-primary;
        tbody {
            tr {
                td {
                    border-top: 1px solid $brand-primary;
                    &:first-child {
                        border-right: 1px solid $brand-primary;
                    }
                }
            }
        }
    }
}

.border-none {
    border-bottom: none !important;
}

.hp-mn {
    border: 1px solid $brand-primary;
    .table {
        .main-t {
            tr {
                td {
                    border-top: 1px solid $brand-primary;
                    border-right: 1px solid #0e8be1 !important;
                }
            }
        }
    }
}

.min-tr {
    th {
        border-top: 1px solid #0e8be1 !important;
        border-right: 1px solid #0e8be1 !important;
    }
}

.hp-tb {
    table {
        tr {
            td,
            th {
                text-align: center;
            }
        }
    }
}

.hp-br {
    &:hover {
        .over-dn {
            display: block;
            @include transition(all 300ms ease);
        }
    }
    .over-dn {
        top: 0;
        background: rgba(0, 0, 0, 0.52);
        height: 100%;
        width: 100%;
        display: none;
        @include transition(all 300ms ease);
    }
}

.metal {
    thead,
    tbody,
    tr,
    td,
    th {
        border: 1px solid #0e8be1;
    }
    // text-align: center;
    text-transform: uppercase;
    .head {
        background: #0e8be1;
        color: #ffffff;
        // text-align: center;
    }
}

.caret-ico {
    .down {
        color: #ff0000;
    }
    .up {
        color: #00ff00;
    }
}

.panel-open {
    .panel-heading {
        color: #ffffff;
        background-color: #0d9dff;
    }
}

.acc-spac {
    margin: 34px 0;
}

//bootstrap forms

/* Start writing sass here */

@import "fancybox-override";
@import "mobile";
