<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-head.jpg" alt="Hindustan Platinum" class="img-responsive">
        </div>
    </div>
</section>
<section class="pb60 mt20">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/hp-about.png" alt="Hindustan Platinum" class="img-responsive">
            </div>
            <div class="col-md-9">
                <div class="hp-pr-decs">
                    <h4 class="color-primary">Hindustan Platinum at Glance</h4>
                    <p>Established in 1961, Hindustan Platinum is India's leading manufacturer and refiner of precious metal products with wide and diverse industrial applications. With experience of more than a half a century, Hindustan Platinum has fine-tuned
                        to perfection various traditional and innovative high-yield technologies to produce high-purity precious metals and industrial products.</p>
                    <p>Our proprietary indigenous technologies and processes, coupled with global technical partnerships have quipped us to deliver excellence in quality, quantity and customer-centric services.</p>
                    <p>Over the years we have established a large customer base across more than 50 countries across 5 continents. With the world as our market, Hindustan Platinum is truly a global player in the precious metal products, processes and services
                        Industry.</p>
                    <p>
                        Hindustan Platinum's first plant was set up in the heart of Mumbai (formerly Bombay), the commercial capital of India. This fully functional plant was followed by significant expansion and investment in an ultramodern integrated complex in in the late
                        1990's through the mid 2000's located amidst the verdant hills of the Western Ghats in Navi Mumbai. With the latest manufacturing and process technologies, advanced systems and ecofriendly manufacturing process, this new complex
                        was designed specifically to meet the growing global demand for our products and services. Proximity to the airports, both domestic and international, and seaports are a major advantage for bulk logistics to and from our plants.</p>
                        <div class="mt20">
                          <h4 class="color-primary">Multi-level Quality Assurance</h4>
                          <p>As a responsible manufacturer of critical components Hindustan Platinum employs various quality parameters to ensure stringent quality control at all levels of manufacturing. Beginning with the purity of raw materials, we constantly validate our processes and monitor our final yields. With state-of-the-art facilities and continuously evolving technologies, we have an unbeaten track record of delivering perfectionand precision to our customers.</p>
                        </div>
                        <div class="mt20">
                          <h4 class="color-primary">Clean Processes </h4>
                          <p>Forming an integral part of our systems is our commitment to the environment. This is reflected in our significant investments in wind energy, fully integrated effluent treatment plant, root zone system, rain water harvesting, stringent air-quality control an waste liquid neutralization, organic waste converter, etc. Although we meet strict environmental regulations, our R&D team strives for continuous improvement of all processes, in particular, energy and water conservation. To state simply, we contribute to the world economy but not at the cost of the world's ecology! Being one amongst 250 Indian companies who are signatory to the United Nations global compact, stands testimony to Hindustan Platinum's commitment of providing better products and services in away that is profitable, ethical and respects the environment, individuals and the communities where it does business across the world.</p>
                        </div>
                </div>

            </div>
        </div>
    </div>
</section>
