<section>
    <div class="hp-top-banner">
        <img src="img/hp-assembly.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hp-pr-decs">
          <p>Hindustan Platinum supplies complete contact assemblies, which helps customers to get total electrical contact solution under one roof. </p>
          <p>Complementing a contact or rivet, carriers are available in exhaustive varieties like thin spring stampings (blades), intermediate size terminals and screw machine parts. Carrier materials are often made of base metals such as Copper, Brass, Phosphor Bronze, Mild Steel and so on.
With sound expertise, the company is able to provide contact assemblies as per customer’s demand through : </p>
<ul>
  <li>Riveting. </li>
  <li>Double Heading.</li>
  <li>Resistance Welding.</li>
  <li>Furnace Brazing.</li>
</ul>
<p>These assemblies are supplied with or without Silver plating.</p>
        </div>
      </div>
    </div>
  </div>
</section>
