<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-brochure.png" alt="Hindustan Platinum" class="img-responsive">
        </div>
    </div>
</section>
<section class="pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs pd45">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries,.</p>
                </div>
            </div>
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-3" ng-repeat="item in brochure track by $index">
              <div class="hp-br hp-relative">
                <div class="hvr">
                <img ng-src="{{item}}" alt="Hindustan Platinum" class="img-responsive ">
                </div>
                <a href=""><div class="over-dn hp-absulate ">
                  <img src="img/download-white.png" alt="Hindustan Platinum" class="hp-absulate hp-mid">
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
