<section>
    <div class="hp-top-banner">
        <img src="img/hp-en-banner.jpg" alt="Hindustan Platinum" class="img-responsive width100">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro pt20">
                    <h1 class="color-primary font-bold">Introduction</h1>
                    <p>There is a constantly increasing need for metallic material with melting point over 1700°C for use at very high temperature. There is also a need for metals having characteristics like chemical stability, oxidation resistance in air
                        and resistance to many molten oxides.
                    </p>
                    <p>Chemical analysis usually involves processes with exothermic reactions. Due to this conventional material such as tantalum, molybdenum, glass, nickel, etc. cannot be used.</p>
                    <p>
                        As Platinum possesses the above mentioned properties and is highly ductile and malleable, laboratory wares are usually made from high purity Platinum.
                    </p>
                    <p>
                        For specific applications other precious metals, such as Rhodium, Iridium or Gold might be added to Platinum to either increase mechanical strength or to increase non-wetting properties.
                    </p>
                    <p>
                        Our most common Laboratory apparatus have been standardized and are described in this catalogue. Hindustan Platinum manufacturers all special purpose items from precious metal to meet customers’ specific requirement. We would be pleased to undertake work
                        on non-standard or special purpose apparatus. All dimensions and weights shown in this catalogue are to be taken as a guide only, and may be subject to fluctuation.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pad60">
            <div class="col-md-4 pad-cl" ng-repeat="item in product track by $index">
                <div class="hp-eng-box">
                <a href="">
                  <img src="{{item.img}}" alt="Hindustan Platinum" class="img-responsive hp-absulate hp-mid">
                  <div class="overl-lay-blue">

                      <h2 class="hp-absulate hp-mid color-white text-up font-bold text-center margin0">{{item.name}}</h2>
                  </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>
