<section>
    <div class="hp-top-banner">
        <img src="img/hp-get.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="hp-titile-form">
                <h4>FOLLOW THESE 3 SIMPLE STEPS TO GET A SOLUTION</h4>
            </div>
            <div class="col-md-4" ng-repeat="item in dn track by $index">
                <div class="hp-d-box">
                    <img ng-src="{{item.img}}" alt="">
                    <div class="hp-from-fn">
                        <h4>{{item.name}}</h4>
                    </div>
                    <span>{{item.no}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="hp-step">
                <h4>step1: <span>To download the form</span></h4>
            </div>
            <div class="hp-dn-btn">
                <button type="button" name="button">CLICK HERE</button>
            </div>
            <div class="hp-step">
                <h4>step2: <span>Once you are done filling the form, please enter your details below</span></h4>
            </div>



        </div>
        <form action="" name="formName" ng-submit="submitForm(formData);" ng-if="!formSubmitted">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'form-invalid': formName.name.$invalid && formName.name.$touched}">
                        <input type="text" name="name" class="form-control" ng-model="formData.name" required placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'form-invalid': formName.Last.$invalid && formName.Last.$touched}">
                        <input type="text" name="Last" class="form-control" ng-model="formData.Last" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'form-invalid': formName.email.$invalid && formName.email.$touched}">
                        <input type="email" name="email" class="form-control" ng-model="formData.email" placeholder="Email id">
                    </div>
                    <div class="form-group" ng-class="{'form-invalid': formName.Mobile.$invalid && formName.Mobile.$touched}">
                        <input type="email" name="Mobile" class="form-control" ng-model="formData.Mobile" placeholder="Mobile Number">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'form-invalid': formName.name.$invalid && formName.name.$touched}">
                          <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
                </form>
  <div class="row">
    <div class="col-md-12">
      <div class="hp-step">
          <h4>step2: <span>Once you are done filling the form, please enter your details below</span></h4>
      </div>
      <form class="form-inline">

        <div class="form-group">
          <div class="form-group">
        
           <input type="file" id="exampleInputFile">
           <p class="help-block">Example block-level help text here.</p>
         </div>
        <button type="submit" class="btn btn-default">SEND</button>
      </form>
    </div>
  </div>

    </div>
</section>
