<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-glass.jpg" alt="Hindustan Platinum" class="img-responsive width100">
        </div>
    </div>
</section>
<section class="pb60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hp-pr-decs pd45">
<p>Hindustan Platinum is a manufacturer's manufacturer. Given that critical responsibility, we at Hindustan Platinum, constantly endeavor to meet our customer's requirement by way of high quality products, pricing advantage, protected technologies and timely deliveries. In addition to technology from Engelhard Corporation for manufacturing laser welded Bushings and from Corning Incorporated for the manufacture of claded Stirrers, we also invest heavily in research and are		constantly upgrading our syatems.</p>
<p>With integration in mind, the range of our products for the Glass Industry is extensive and our back-end services, complete. Our platinum components find application in manufacture of TV Shells & LCDs, Bottles & Tubes, Tableware, Optical Glass and Glass Fiber. Our product range includes:
</p>
<ul class="pl">
  <li>
     Feeder Systems
  </li>
  <li>
     Stirrers
  </li>
  <li>
     Thimbles
  </li>
  <li>
     Drain Tubes
  </li>
  <li>
     Orifice Rings
  </li>
  <li>
    Liners
  </li>
  <li>
    Platinum Laboratory Appartus
  </li>
  <li>
    Customized Fabrications
  </li>
</ul>
        </div>
        <div class="mt20">
          <div class="hp-rnd-slider">

              <flex-slider flex-slide="s in glass track by $index" prev-text="" next-text="" item-width="380" item-margin="0"  animation="slide">
                  <li>
                  <div class="hp-img-sl text-center">
                    <a href=""><img ng-src="{{s.img}}" alt=""></a>
                    <span class="sp-pd">{{s.name}}</span>
                  </div>
                  </li>
              </flex-slider>

          </div>
        </div>
        <div class="mt60">
          <div class="hp-acc">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        Bushing
                    </uib-accordion-heading>
                    <div class="hp-dt-in">
                      <div class="row">
                        <div class="col-md-3">
                          <img src="img/w1.jpg" alt="Hindustan Platinum">
                        </div>
                        <div class="col-md-7">
                          <div class="hp-pr-decs">
<p>For the Glass Fiber Industry, we make various Platinum/ Rhodium alloy Bushings.
These are:</p>
<ul class="pl12">
  <li>Laser Welded Bushings</li>
  <li>Glass Flow Bushings</li>
  <li>Flow Control Bushings</li>
  <li>Laser Welded Bushings</li>
</ul>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
                <div uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                      Stirrers
                    </uib-accordion-heading>
                </div>


            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
