<section>
    <div class="hp-banner">
        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
            <li auto-heightfixed>
                <img ng-src="{{s}}" alt="Hindustan Platinum" auto-heightfixed>
            </li>
        </flex-slider>
    </div>

</section>
<section class="hp-mg-min">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 padding0" ng-repeat="item in product track by $index">
              <div product value="item"> </div>
          </div>
      </div>
      <!-- <div class="row-flex">
          <div class="col-flex padding0" ng-repeat="item in product track by $index">
              <div product value="item"> </div>
          </div>
      </div> -->
  </div>
</section>
<section>
    <div class="hp-mid-banner">
        <img src="img/hp-en.jpg" alt="Hindustan Platinum" class="img-responsive width100">
    </div>
</section>
<section class="pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-about ">
                    <h1 class="color-primary font-bold text-center">ABOUT US</h1>

    <div class="hp-data-pad">
      <p>
          Established in 1961, Hindustan Platinum is India's leading manufacturer and refiner of precious metal products with wide and diverse industrial applications. With experience of more than a half a century, Hindustan Platinum has fine-tuned to perfection
          various traditional and innovative high-yield technologies to produce high-purity precious metals and industrial products.
      </p>
      <p>
          Our proprietary indigenous technologies and processes, coupled with global technical partnerships have quipped us to deliver excellence in quality, quantity and customer-centric services.
      </p>
      <p>
          Over the years we have established a large customer base across more than 50 countries across 5 continents. With the world as our market, Hindustan Platinum is truly a global player in the precious metal products, processes and services Industry.
      </p>
    </div>
                    <div class="hp-btn text-center">
                        <button type="button" name="button" class="btn-blue color-primary text-up font-bold btn-padding">know more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
