<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-jewellery.jpg" alt="Hindustan Platinum" class="img-responsive width100">
        </div>
    </div>
</section>
<section class="pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs pd45">
                    <p>Platinum Guild India ( PGI) authorized supplier of various Platinum and Platinum alloy raw material, semi-finish product to various jewellery industries house.</p>

                    <ul class="pl12">
                        <li>
                          Supplier of Pt 950 granules in composition of Platinum, Cobalt, Copper, Ruthenium, Iridium etc.
                        </li>
                        <li>
                          Pt 950 Blanks/Rings and other Pt 950 allied Products for jewellery industry
                        </li>
                        <li>
                            Pt 950 Chain in roll form
                        </li>
                        <li>
                          Platinum/10% iridium Parting tray for Assaying.
                        </li>

                    </ul>
                </div>
                <div class="mt20">
                    <div class="hp-rnd-slider">

                        <flex-slider flex-slide="s in glass track by $index" prev-text="" next-text="" item-width="380" item-margin="0" animation="slide">
                            <li>
                                <div class="hp-img-sl text-center">
                                    <a href=""><img ng-src="{{s.img}}" alt=""></a>
                                    <!-- <span class="sp-pd">{{s.name}}</span> -->
                                </div>
                            </li>
                        </flex-slider>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
