<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-know.jpg" alt="Hindustan Platinum" class="img-responsive">
        </div>
    </div>
</section>
<section class="pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs pd45">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <div class="hp-sl float-left">
                    <h3 class="font-bold margin0">Select Reaction</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hp-relative float-right hp-sl-rec">
                    <ui-select ng-model="item.selected" ng-change="findMetal(item.selected._id)">
                        <ui-select-match placeholder="Select or search a person in the list...">
                          {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in data | filter: $select.name" >
                            <div ng-bind-html="item.name | highlight: $select.name"></div>
                            <small ng-bind-html="item.email | highlight: $select.name"></small>
                        </ui-select-choices>
                    </ui-select>
<div class="hp-absulate hp-mm">
  <img src="img/arrow.jpg" alt="Hindustan Platinum">
</div>
                </div>
            </div>
        </div>

  <div ng-hide="reactionId">

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="hp-d-rslt mt60">
                    <h3 class="text-center  color-primary">Displaying Result</h3>
                <div class="mt60">
                  <h2 class="font-bold text-center">SELECT METALS</h2>
                  <div class="hp-tab-btn">
                      <div class="btn-group" >
                          <button  ng-repeat="item in metal" type="button" name="button" ng-click="tabchanges(item._id)" class=" btn-blue font-bold text-up text-center" ng-class="{'active-tab':item.active}">{{item.name}}</button>
                      </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="az" ng-if="tabs=='az'">
              <div class="hp-acc">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading>
                            RD-92
                        </uib-accordion-heading>
                        <div class="hp-dt-in">
                            <p>5%, 10%, PD/C</p>

                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            RD-124
                        </uib-accordion-heading>
                    </div>
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            RD-162
                        </uib-accordion-heading>
                    </div>
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            RD-169
                        </uib-accordion-heading>
                    </div>
                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            RD-172
                        </uib-accordion-heading>
                    </div>

                </uib-accordion>
              </div>
                </div>
                <div class="az" ng-if="tabs=='bz'">
      <div class="hp-acc">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    RD-92
                </uib-accordion-heading>
                <div class="hp-dt-in">
                    <p>5%, 10%, PD/C</p>

                </div>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-124
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-162
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-169
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-172
                </uib-accordion-heading>
            </div>

        </uib-accordion>
      </div>
                </div>
                <div class="az" ng-if="tabs=='cz'">
      <div class="hp-acc">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    RD-92
                </uib-accordion-heading>
                <div class="hp-dt-in">
                    <p>5%, 10%, PD/C</p>

                </div>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-124
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-162
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-169
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    RD-172
                </uib-accordion-heading>
            </div>

        </uib-accordion>
      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="font-bold text-up">If you have any queries regarding multiple reactions</h2>
                    <button type="button" name="button"class="btn-blue color-primary text-up font-bold btn-padding">CLICK HERE</button>
                </div>
            </div>
        </div>


      </div>
    </div>
</section>
