<section>
    <div class="hp-top-banner">
        <img src="img/hp-metal.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs">
                    <p>Hindustan Platinum is offering superior electrical performance solid contacts which are manufactured
                        in a wide range of sizes. Hindustan Platinum is India’s first company to introduce the bimetal contacts
                        in 1973. This revolutionary product, that reduces Silver content substantially, helps in lowering
                        cost while retaining high quality. </p>
                    <p>
                        In bimetal contact rivet, a Silver layer is metallurgically bonded to Copper base. This high strength bonding imparts better
                        thermal & current transfer & allows customers to experience the performance of solid Silver at a
                        price that is economically viable.
                    </p>
                    <p>
                        Solid & bimetal rivets are usually supplied with a solid shank, but are also available with indent or chamfered shank. Accompanying
                        heads can be flat, radial, line or conical. These rivets are used in wiring accessories, relays,
                        contactors etc. We are one of the few manufacturers in the world who have technology to manufacture
                        Silver Tin Oxide & Silver Cadmium Oxide by internal oxidation (melting) as well as Powder Metallurgy
                        (sintered).
                    </p>
                </div>
                <div>
                    <img src="img/hp-main-cat.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-get-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h4>KNOW YOUR CATALYST</h4>
                                    <button type="button" class="btn btn-default">Click Here</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>plating</h4>
                <span>Above rivets are available with Silver, Gold, Nickel, Silchrome plating. </span>
            </div>
        </div>
    </div>
</section>