<section class="bg-grediant">
  <div class="container">
    <div class="hp-top-banner">
        <img src="img/hp-pl.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
  </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-acc">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                Spatulas
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hp-cm-data">
                                        <p>Crucibles in these series have nominal capacities ranging from 5cc to 250cc. These crucibles are designed with extra thick base to withstand heavy wear. Unless otherwise specified crucibles are always supplied having
                                            plain rim and with lid. The purity of Platinum used for manufacture of these crucibles is at least 99.95%.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Spoons
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                Combustion and Boats
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="img/hp-pl-ot.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-md-6">
                                          <div class="hp-pr-decs">
                                            <p class="margin0">Combustion boats with or without handle are available in the following sizes:</p>
                                            <p>Micro-Combustion boats can be manufactured against special orders</p>
                                            </div>
                                            <div class="hp-tbl-en b-all mt20">
                                                <table class="table margin0">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Length <br>mm</th>
                                                            <th>Width <br>mm</th>
                                                            <th>Depth <br>mm</th>
                                                            <th>Weight <br>grams</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>HP 168</td>
                                                            <td>38.1</td>
                                                            <td>12.7</td>
                                                            <td>9.5</td>
                                                            <td>3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>HP 169</td>
                                                            <td>50.9</td>
                                                            <td>12.7</td>
                                                            <td>9.5</td>
                                                            <td>4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>HP 170</td>
                                                            <td>76.2</td>
                                                            <td>12.7</td>
                                                            <td>9.5</td>
                                                            <td>7</td>
                                                        </tr>
                                                        <tr>
                                                            <td>HP 171</td>
                                                            <td>95.3</td>
                                                            <td>12.7</td>
                                                            <td>9.5</td>
                                                            <td>9</td>
                                                        </tr>
                                                        <tr>
                                                            <td>HP 172</td>
                                                            <td>101.6</td>
                                                            <td>12.7</td>
                                                            <td>9.5</td>
                                                            <td>12</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <span class="font-bold hp-span">Other Sizes available on requests</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Filter Cone
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Tripped Forceps
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Tipped Tongs
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Triangles
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Wire Gauze
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Wires
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Foils
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</section>
