<section>
    <div class="hp-top-banner">
        <img src="img/hp-press.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hp-pr-desc">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,.
          </p>
        </div>
        <div class="year-slider">
          <flex-slider flex-slide="s in get track by $index" prev-text="" next-text="" item-width="100" item-margin="30"  animation="slide">
              <li>
              <a href="">{{s.year}}</a>
              </li>
          </flex-slider>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" ng-repeat="s in img track by $index">
        <img ng-src="{{s}}" alt="Hindustan Platinum" class="img-responsive">
      </div>
    </div>
  </div>
</section>
