<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-profile.jpg" alt="Hindustan Platinum" class="img-responsive">
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs pd45">
                    <p>Hindustan Platinum is offering superior electrical performance solid contacts which are manufactured
                        in a wide range of sizes. Hindustan Platinum is India’s first company to introduce the bimetal contacts
                        in 1973. This revolutionary product, that reduces Silver content substantially, helps in lowering
                        cost while retaining high quality. </p>
                    <p>
                        In bimetal contact rivet, a Silver layer is metallurgically bonded to Copper base. This high strength bonding imparts better
                        thermal & current transfer & allows customers to experience the performance of solid Silver at a
                        price that is economically viable.
                    </p>
                    <p>
                        Solid & bimetal rivets are usually supplied with a solid shank, but are also available with indent or chamfered shank. Accompanying
                        heads can be flat, radial, line or conical. These rivets are used in wiring accessories, relays,
                        contactors etc. We are one of the few manufacturers in the world who have technology to manufacture
                        Silver Tin Oxide & Silver Cadmium Oxide by internal oxidation (melting) as well as Powder Metallurgy
                        (sintered).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb60">
    <div class="container">
        <div class="row">
            <div class="hp-pl">
                <h2 class="text-up font-bold color-primary">alloys</h2>
            </div>
            <div class="col-md-12">

                <div class="hp-acc">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                Pure Silver (Pure Ag)
                            </uib-accordion-heading>

                            <div class="hp-dt-in">
                                <p>AgNi is manufactured by powder metallurgy (Sintered). Its salient feature includes low mechanical
                                    wear due to higher hardness, low contact resistance almost constant throughout the life
                                    of contact, low material transfer, low burning, good arc migration and better arc extinguishing
                                    properties. It also has better anti welding property. It has good formability with Nickel
                                    upto 20 %. If this percent goes higher, formability reduces a bit, but wear resistance
                                    increases. Available in the form of wires, rivets, profiles and contact tips, Silver
                                    Nickel contacts can be welded directly.</p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgNi.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgSnO2
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>The company is one of the few manufacturers in the world having technology to manufacture
                                    Silver Tin Oxide by both internal oxidation (melting) & by powder metallurgy (sintered).
                                    Contacts are manufactured with or without additives. Special additives keep the contact
                                    resistance stable throughout. The standard grades of contact material available are AgSno2
                                    14 %, AgSnO2 12 % and AgSno2 10 %. It is one of the most environment friendly contact
                                    material as it does not contain any hazardous substance. </p>
                                <p>Contacts are available with a backing layer of Silver and optionally, with an additional
                                    layer of brazing alloy. Available in the form of wire, rivets, profiles and contact tips.</p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgSno2.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Silver Nickel (AgNi)
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>AgNi is manufactured by powder metallurgy (Sintered). Its salient feature includes low mechanical
                                    wear due to higher hardness, low contact resistance almost constant throughout the life
                                    of contact, low material transfer, low burning, good arc migration and better arc extinguishing
                                    properties. It also has better anti welding property. It has good formability with Nickel
                                    upto 20 %. If this percent goes higher, formability reduces a bit, but wear resistance
                                    increases. Available in the form of wires, rivets, profiles and contact tips, Silver
                                    Nickel contacts can be welded directly.</p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgNi.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgZnO
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>Highly recommended when subjected to intense make and break cycles, this contact material
                                    is manufactured by blending Silver and metal oxide powder. It has a uniform distribution
                                    of particles and is characterized by a high switching life time in AC relay applications.</p>
                                <p>With excellent erosion resistance, high welding resistance and free of toxic and carcinogenic
                                    content it is widely used for applications like current limiting circuit breaker, earth
                                    leakage circuit breaker, general purpose relays, wiring accessories and switchgears(requiring
                                    breaking capacity in Ac or DC between 10 and 1000 A and 24 and 600V). It is one of the
                                    best alternatives for AgCdo.</p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgZnO.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgFe
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>Manufactured by blending Silver and iron powder, this material is an apt substitute for Silver
                                    Nickel. It is ideal for moving contacts in safety devices with nominal currents greater
                                    than 32 A and for relays and contactors operating between 0.5 and 20 A. This material
                                    is recommended for any switchgear using current between 0.5 and 250A & 24 and 600V.</p>
                                <p>Silver Iron is used in applications like push buttons, relays, contactors and circuit breakers.</p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgFe.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgCdO
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>AgCdO is manufactured by internal oxidation (Melting) or by powder metallurgy (sintered).
                                    Our specialization includes making extremely ductile wire of AgCdo 15 % which is used
                                    to manufacture Bimetal Contacts.</p>
                                <p>It's advantages are:
                                    <ul>
                                        <li>Good arc extinguishing properties.</li>
                                        <li>Low arc erosion.</li>
                                        <li>Excellent anti-welding character that offers reliable protection against contact
                                            welding at higher current (higher the CdO content better the anti-welding property).</li>
                                        <li>Low contact resistance.</li>
                                    </ul>
                                </p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgCdO.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgCu
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>Manufactured by the melted process, it offers higher mechanical strength, greater burning
                                    resistance under most switching conditions and less material migration compared to pure
                                    Silver.
                                </p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgCu.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgPd
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>Harder than fine Silver, this contact material has a higher melting point and exhibits a
                                    nobler surface. It is largely resistant to sulphur and abrasion & burning. Available
                                    in the form of wire, rivets, profiles and contact tips.
                                </p>
                                <div class="hp-tbl-en mt20">
                                    <img src="img/AgPd.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="color-primary font-bold text-up">plating</h2>
            <span>Above rivets are available with Silver, Gold, Nickel, Silchrome plating. </span>

        </div>
    </div>
</section>