<section>
    <div class="hp-top-banner">
        <img src="img/hp-riv.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs">
                    <p>Hindustan Platinum is offering superior electrical performance solid contacts which are manufactured in a wide range of sizes. Hindustan Platinum is India’s first company to introduce the bimetal contacts in 1973. This revolutionary
                        product, that reduces Silver content substantially, helps in lowering cost while retaining high quality. </p>
                    <p>
                        In bimetal contact rivet, a Silver layer is metallurgically bonded to Copper base. This high strength bonding imparts better thermal & current transfer & allows customers to experience the performance of solid Silver at a price that is economically viable.
                    </p>
                    <p>
                        Solid & bimetal rivets are usually supplied with a solid shank, but are also available with indent or chamfered shank. Accompanying heads can be flat, radial, line or conical. These rivets are used in wiring accessories, relays, contactors etc. We are
                        one of the few manufacturers in the world who have technology to manufacture Silver Tin Oxide & Silver Cadmium Oxide by internal oxidation (melting) as well as Powder Metallurgy (sintered).
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="hp-tab-btn">
                        <div class="btn-group">
                            <button type="button" name="button" ng-click="tabchanges('az',1)" class="{{classp}}">TYPICAL SHAPES OF RIVETS</button>
                            <button type="button" name="button" ng-click="tabchanges('bz',2)" class="{{classv}}">DIMENSIONAL RANGES & TOLERANCES </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="az" ng-if="tabs=='az'">
            <div class="row">
                <div class="col-md-6" ng-repeat="item in shape track by $index">
                    <div class="hp-shape">
                        <img ng-src="{{item}}" alt="Hindustan Platinum" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="az" ng-if="tabs=='bz'">
            <div class="row">
                <div class="col-md-12">
                    <div class="hp-dimesion-tbl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Dimension
                                    </th>
                                    <th>
                                        Dimensional Range
                                    </th>
                                    <th>
                                        Tolerance
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Head Diameter (HD)
                                    </td>
                                    <td>
                                        1.2mm to 12mm
                                    </td>
                                    <td>
                                        +/- 0.5mm
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pl">
                    <h4>alloys</h4>
                </div>
                <div class="hp-pl-acc">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                Pure Silver (Pure Ag)
                            </uib-accordion-heading>
                            <div class="hp-dt-in">
                                <p>AgNi is manufactured by powder metallurgy (Sintered). Its salient feature includes low mechanical wear due to higher hardness, low contact resistance almost constant throughout the life of contact, low material transfer,
                                    low burning, good arc migration and better arc extinguishing properties. It also has better anti welding property. It has good formability with Nickel upto 20 %. If this percent goes higher, formability reduces a bit,
                                    but wear resistance increases. Available in the form of wires, rivets, profiles and contact tips, Silver Nickel contacts can be welded directly.</p>
                                <div class="hp-cm-tabale">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    alloy
                                                </th>
                                                <th>Main constituents Ni in wt-%</th>
                                                <th>
                                                    Process
                                                </th>
                                                <th>
                                                    Forms
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    wire
                                                                </th>
                                                                <th>
                                                                    rivets
                                                                </th>
                                                                <th>
                                                                    profile
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </th>
                                                <th>
                                                    conductvity (%IACS)
                                                </th>
                                                <th>
                                                    Density (gm/cc)
                                                </th>
                                                <th>
                                                    Hardness HV10
                                                </th>
                                                <th>
                                                    Elongation %
                                                </th>
                                                <th>
                                                    Tensile Strength (Mpa)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    agni
                                                </td>
                                                <td>
                                                    10%
                                                </td>
                                                <td>
                                                    PM
                                                </td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>y</td>
                                                                <td>y</td>
                                                                <td>y</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    90
                                                </td>
                                                <td>
                                                    10.2
                                                </td>
                                                <td>
                                                    96
                                                </td>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    280-340
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgSnO2
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                Silver Nickel (AgNi)
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgZnO
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgFe
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgCdO
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgCu
                            </uib-accordion-heading>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                AgPd
                            </uib-accordion-heading>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>plating</h4>
            <span>Above rivets are available with Silver, Gold, Nickel, Silchrome plating. </span>
          </div>
        </div>
    </div>
</section>
