<section>
    <div class="hp-top-banner">
        <img src="img/hp-semi.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hp-tab-btn">
            <div class="btn-group">
                <button type="button" name="button" ng-click="tabchanges('az',1)" class="{{classp}}">Silver & Silver Alloyed Wire</button>
                <button type="button" name="button" ng-click="tabchanges('bz',2)" class="{{classv}}">Silver Anodes & Strips</button>
                <button type="button" name="button" ng-click="tabchanges('bz',2)" class="{{classv}}">Silver Brazing Foil  </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
