<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-spinn.jpg" alt="Hindustan Platinum" class="img-responsive width100">
        </div>
    </div>
</section>
<section class="pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs pd45">
                    <p>
                        Considering the chemical stability and resistance to oxidation and corrosion, crucibles and dishes of Platinum and Platinum alloys are mainly used as equipment in Research and Development.
                    </p>
                    <p>
                        The tables on the following pages show the standard forms of crucibles and dishes. Apart from standard forms, we also deliver crucibles and dishes in different thicknesses with reinforced rim, and in case of dishes with or without pouring lip.
                    </p>
                    <p>
                        Crucibles and dishes of other sizes and shapes such as cylindrical, conical etc. with different types of lids are offered against individual specifications in pure Platinum, Platinum/Rhodium or Platinum/Gold..
                    </p>
                </div>
                <div class="text-center">
                    <div class="hp-tab-btn">
                        <div class="btn-group">
                            <button type="button" name="button" ng-click="tabchanges('az',1)" class="{{classp}} btn-blue font-bold text-up">The principle alloys we work with</button>
                            <button type="button" name="button" ng-click="tabchanges('bz',2)" class="{{classv}} btn-blue font-bold text-up">Mechanical Properties of the alloy </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="az" ng-if="tabs=='az'">
                    <div class="blu-tbl">
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>
                                        HP-N51
                                    </td>
                                    <td>
                                        49.5% Gold/49.5% Platinum /1.0% Rhodium
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        HP-N51
                                    </td>
                                    <td>
                                        49.5% Gold/49.5% Platinum /1.0% Rhodium
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        HP-N51
                                    </td>
                                    <td>
                                        49.5% Gold/49.5% Platinum /1.0% Rhodium
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        HP-N51
                                    </td>
                                    <td>
                                        49.5% Gold/49.5% Platinum /1.0% Rhodium
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="az" ng-if="tabs=='bz'">
                    <div class=" hp-cs-tbl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Particulars
                                    </th>
                                    <th>
                                        HP-N31
                                    </th>
                                    <th>
                                        HP-N50
                                    </th>
                                    <th>
                                        HP-N51
                                    </th>
                                    <th>
                                        HP-N90
                                    </th>
                                    <th>
                                        HP-N91
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Composition</td>
                                    <td>69.5%
                                        <br>Au/30.0%
                                        <br>Pt /0.5% Rh</td>
                                    <td>69.5%
                                        <br>Au/30.0%
                                        <br>Pt /0.5% Rh</td>
                                    <td>69.5%
                                        <br>Au/30.0%
                                        <br>Pt /0.5% Rh</td>
                                    <td>69.5%
                                        <br>Au/30.0%
                                        <br>Pt /0.5% Rh</td>
                                    <td>69.5%
                                        <br>Au/30.0%
                                        <br>Pt /0.5% Rh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt60">
                    <div class="hp-acc">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    Precious metal Spinnerettes of Gold /Platinum/ Rhodium for Staple Viscose Fibre, Rayon Filaments, and Type Cord yarns used wet spinning process:
                                </uib-accordion-heading>
                                <div class="hp-dt-in">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="img/w1.jpg" alt="Hindustan Platinum">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="hp-mn">
                                                <table class="table margin0">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-none">
                                                                <table>
                                                                    <tr>
                                                                        <th>
                                                                            Manufacturing Tolerance Parameter:
                                                                        </th>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <thead>
                                                        <tr class="min-tr">
                                                            <th class="border-none">Description</th>
                                                            <th class="border-none">Parameter</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="main-t">
                                                        <tr>
                                                            <td>Minimum Capillary Diameter</td>
                                                            <td>40 µ</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="mt60">
                                              <span>Mechanical Properties of the alloy :</span>
                                              <div class=" hp-cs-tbl">
                                                  <table class="table">
                                                      <thead>
                                                          <tr>
                                                              <th>
                                                                  Particulars
                                                              </th>
                                                              <th>
                                                                  HP-N31
                                                              </th>
                                                              <th>
                                                                  HP-N50
                                                              </th>
                                                              <th>
                                                                  HP-N51
                                                              </th>
                                                              <th>
                                                                  HP-N90
                                                              </th>
                                                              <th>
                                                                  HP-N91
                                                              </th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>Composition</td>
                                                              <td>69.5%
                                                                  <br>Au/30.0%
                                                                  <br>Pt /0.5% Rh</td>
                                                              <td>69.5%
                                                                  <br>Au/30.0%
                                                                  <br>Pt /0.5% Rh</td>
                                                              <td>69.5%
                                                                  <br>Au/30.0%
                                                                  <br>Pt /0.5% Rh</td>
                                                              <td>69.5%
                                                                  <br>Au/30.0%
                                                                  <br>Pt /0.5% Rh</td>
                                                              <td>69.5%
                                                                  <br>Au/30.0%
                                                                  <br>Pt /0.5% Rh</td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div uib-accordion-group class="panel-default">
                                <uib-accordion-heading>
                                    Stirrers
                                </uib-accordion-heading>
                            </div>


                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
