<section class="bg-grediant">
    <div class="container">
        <div class="hp-top-banner">
            <img src="img/hp-tech.jpg" alt="Hindustan Platinum" class="img-responsive">
        </div>
    </div>
</section>
<section class="pb60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hp-pr-decs pd45">
            <p>Hindustan Platinum is offering superior electrical performance solid contacts which are manufactured in a wide range of sizes. Hindustan Platinum is India’s first company to introduce the bimetal contacts in 1973. This revolutionary
                product, that reduces Silver content substantially, helps in lowering cost while retaining high quality. </p>
            <p>
                In bimetal contact rivet, a Silver layer is metallurgically bonded to Copper base. This high strength bonding imparts better thermal & current transfer & allows customers to experience the performance of solid Silver at a price that is economically viable.
            </p>
            <p>
                Solid & bimetal rivets are usually supplied with a solid shank, but are also available with indent or chamfered shank. Accompanying heads can be flat, radial, line or conical. These rivets are used in wiring accessories, relays, contactors etc. We are
                one of the few manufacturers in the world who have technology to manufacture Silver Tin Oxide & Silver Cadmium Oxide by internal oxidation (melting) as well as Powder Metallurgy (sintered).
            </p>
        </div>
        <div class="hp-acc mt20">
          <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" is-open="status.open">
                  <uib-accordion-heading>
                    Flat Knitting TechnologyOur Catalyst for Ammonia Oxidation
                  </uib-accordion-heading>
                  <div class="hp-dt-in">
                      <p>5%, 10%, PD/C</p>

                  </div>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    Our Catalyst for Ammonia Oxidation
                  </uib-accordion-heading>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    Our Getter System for Platinum & Rhodium Recovery
                  </uib-accordion-heading>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                      Our Corrugated Getter System
                  </uib-accordion-heading>
              </div>
              <div uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    Cleaning Operation
                  </uib-accordion-heading>
              </div>

          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
