<section>
    <div class="hp-top-banner">
        <img src="img/hp-temp.jpg" alt="Hindustan Platinum" class="img-responsive">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hp-pr-decs">
                    <p>
                        Platinum and its alloys have long been recognised as reliable sensing elements in high temperature measurement. Hindustan Platinum provides temperature sensing products that gives better process control, consistent product and improved energy conservation.
                        We manufacture thermocouple wires, resistance thermometers, throw-away tips and alfa wires for temperature sensing. We also supply precious metal sheaths, wherever necessary. For optimum accuracy and stability of temperature measuring
                        in the range between 1000°C and 1800°C. Platinum and Platinum/Rhodium thermocouples wires are widely used. Thermocouples wires are produced from high purity metals to maintain accurate e.m.f. values. The accuracy between the relation
                        of temperature and e.m.f. is within the tolerance of international standards.
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="hp-tbl-en">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Material
                                </th>
                                <th>

                                </th>
                                <th>
                                    Pt
                                </th>
                                <th>
                                    Pt 6% Rh
                                </th>
                                <th>
                                    Pt 10% Rh
                                </th>
                                <th>
                                    Pt 13% Rh
                                </th>
                                <th>
                                    Pt 30% Rh
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Specific gravity at 20&deg C</td>
                                <td>
                                    <ul class="formulae">
                                        <li>g</li>
                                        <li>&#8212</li>
                                        <li>Cm<sup>3</sup></li>
                                    </ul>
                                </td>
                                <td>21.4</td>
                                <td>20.6</td>
                                <td>20.0</td>
                                <td>19.6</td>
                                <td>17.7</td>
                            </tr>
                            <tr>
                                <td>Specific electrical resistance at 20&deg C</td>
                                <td>
                                    <ul class="formulae">
                                        <li>&#x2126 mm<sup>2</sup></li>
                                        <li>&#8212</li>
                                        <li>m</li>
                                    </ul>
                                </td>
                                <td>0.107</td>
                                <td>0.185</td>
                                <td>0.193</td>
                                <td>0.197</td>
                                <td>0.21</td>
                            </tr>
                            <tr>
                                <td>Average temperature coefficient of the resistance 20 to 1600&deg C</td>
                                <td>
                                    <ul class="formulae">
                                        <li>1</li>
                                        <li>&#8212</li>
                                        <li>&degC</li>
                                    </ul>
                                </td>
                                <td>3.10<sup>-3</sup></td>
                                <td>1.810<sup>-3</sup></td>
                                <td>1.410<sup>-3</sup></td>
                                <td>1.310<sup>-3</sup></td>
                                <td>1.310<sup>-3</sup></td>
                            </tr>
                            <tr>
                                <td>Thermal Conductivity 20&deg C</td>
                                <td>
                                    <ul class="formulae">
                                        <li>cal</li>
                                        <li>&#8212</li>
                                        <li>s cm &degC</li>
                                    </ul>
                                </td>
                                <td>0.166</td>
                                <td>0.085</td>
                                <td>0.072</td>
                                <td>0.065</td>
                                <td>0.055</td>
                            </tr>
                            <tr>
                                <td>Specific heat at 0&deg C</td>
                                <td>
                                    <ul class="formulae">
                                        <li>cal</li>
                                        <li>&#8212</li>
                                        <li>g &degC</li>
                                    </ul>
                                </td>
                                <td>0.032</td>
                                <td>0.034</td>
                                <td>0.035</td>
                                <td>0.036</td>
                                <td>0.040</td>
                            </tr>
                            <tr>
                                <td>Average thermal expansion between 20&degC and 800&degC</td>
                                <td>
                                    <ul class="formulae">
                                        <li>1</li>
                                        <li>&#8212</li>
                                        <li>&degC</li>
                                    </ul>
                                </td>
                                <td>9.310<sup>-6</sup></td>
                                <td>9.110<sup>-6</sup></td>
                                <td>9.010<sup>-6</sup></td>
                                <td>9.010<sup>-6</sup></td>
                                <td>8.010<sup>-6</sup></td>
                            </tr>
                            <tr>
                                <td>Tensile strength<sub>B</sub></td>
                                <td>Kp/mm2</td>
                                <td>12 to 16</td>
                                <td>25 to 30</td>
                                <td>30 to 35</td>
                                <td>34 to 38</td>
                                <td>45 to 50</td>
                            </tr>
                            <tr>
                                <td>Ductility</td>
                                <td>%</td>
                                <td>25 to 35</td>
                                <td>20 to 30</td>
                                <td>20 to 30</td>
                                <td>20 to 30</td>
                                <td>20 to 30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hp-size">
                <span>Other sizes available on request.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="img/temp.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>