<div class="hp-img-box hp-relative">
  <a ui-sref={{item.link}}><img ng-src="{{item .img}}" alt="Hindustan Platinum" class="img-responsive"></a>
  <div class="hp-overlayer-name hp-absulate">
    <h3 class="color-white text-up font-bold hp-mid hp-absulate text-center margin0">{{item .name}}</h3>
  </div>
 <div class="hp-overlayer-bg hp-absulate">
    <img src="img/hp-hover.jpg" alt="Hindustan Platinum"  class="img-responsive">
    <div class="hp-pr-title">
      <h3 class="color-white text-up font-bold hp-mid hp-absulate text-center margin0">{{item .name}}</h3>
    </div>
  </div>
</div>
