<footer>
    <div class="container">
      <div class="hp-up-footer">
        <div class="row">
          <div class="col-md-3">
            <div class="hp-ft-list">
              <span>Engineered Products</span>
              <ul>
                <li>
                  <a href="">Laboratory Apparatus</a>
                </li>
                <li>
                  <a href="">Sputter Targets</a>
                </li>
                <li>
                  <a href="">Precious Metal Gauzes</a>
                </li>
                <li>
                  <a href="">Precious Metal Spinnerettes</a>
                </li>
                <li>
                  <a href="">Platinum/Rhodium Alloy Stirrers</a>
                </li>
                <li>
                  <a href="">Platinum/Rhodium Alloy Bushings</a>
                </li>
                <li>
                  <a href="">Thermocouple Wires</a>
                </li>
                <li>
                  <a href="">Thimbles, Orifice Rings. Liners etc.</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="hp-ft-list">
              <span>Electrical Contacts</span>
              <ul>
                <li>
                  <a href="">Electrical Contacts & Contact Assemblies</a>
                </li>
                <li>
                  <a href="">Brazzing Allous</a>
                </li>
                <li>
                  <a href="">Wires, Foils, Shets etc.</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="hp-ft-list">
              <span>Services</span>
              <ul>
                <li>
                  <a href="">Recovery & Refining</a>
                </li>
                <li>
                  <a href="">Recycling</a>
                </li>
                <li>
                  <a href="">Plant Cleaning Services</a>
                </li>
                <li>
                  <a href="">Custom-made solutions</a>
                </li>
                <li>
                  <a href="">Precious Metal Management</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="hp-ft-list">
              <p>About Us</p>
              <p>Careers</p>
              <p>Contact Us</p>

            </div>
          </div>

        </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. Hindustan Platinum 2016</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Designed By <a href="http://www.wohlig.com" target="_blank"> TING</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
