<footer>
<div class="hp-h-footer">
  <div class="container">
    <div class="hp-up-footer">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="hp-ft-list br-right">
            <span>Engineered Products</span>
            <ul class="padding0">
              <li>
                <a ui-sref="crucibles-dishes">Crucibles & Dishes</a>
              </li>
              <li>
                <a href="electrodes">Electrodes</a>
              </li>
              <li>
                <a href="platinum-labware">Other Platinum Labware</a>
              </li>
              <li>
                <a href="micro-platinum">Micro Chemical Apparatus</a>
              </li>
              <li>
                <a href="temperature-sensing">Temperature Sensing Products</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="hp-ft-list br-right m30-min">
            <span>Electrical Contacts</span>
            <ul class="padding0">
              <li>
                <a ui-sref="semi-finished" class="">Semi Finished Products</a>
              </li>
              <li>
                <a ui-sref="rivets">Rivets</a>
              </li>
              <li>
                <a ui-sref="profile">Profile</a>
              </li>
              <li>
                <a ui-sref="assembly">Assemblies</a>
              </li>
              <li>
                <a ui-href="r&d">R&D</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="hp-ft-list br-right">
            <span>Salt And Catalysts</span>
            <ul class="padding0">
              <li>
                <a ui-sref="metal-catalyst">Precious Metal Catalysts</a>
              </li>
              <li>
                <a ui-sref="metal-compound">Precious Metal Compound</a>
              </li>
    </ul>
    <a ui-sref="technology-devision" class="mn-ui">Nitro technology Division</a>
          </div>

        </div>
        <div class="col-md-3 col-sm-3">
          <div class="hp-ft-lists m30-min">
            <a ui-sref="about-us">About Us</a> <br>
            <!-- <a>Careers</a><br> -->
            <a ui-sref="contact-us">Contact Us</a>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
    <div class="hp-l-footer">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="text-c-m">Copyright &copy; {{template.year}}. Hindustan Platinum 2016</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-right fl-none">
                    <p class="text-c-m">Designed By <a href="http://ting.in/" target="_blank" class="color-white">TING</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>
</footer>
